.main-nav {
    min-height: 70px;
    padding-left: 40px;
}

.nav-logo-text {
    color: #fff;
    
    &:hover {
        color: #fff;
    }
}

.main-menu {
    display: flex;
    font-size: 18px;
    width: 380px;
    justify-content: space-between;

    a {
        color: rgba(255, 255, 255, 0.50);

        &:hover{
            color: #fff
        }

        &.active {
            color: #fff;
            font-weight: bold;
        }
    }
}

