.product-crud-modal-title {
    font-weight: bold;
    font-size: 18px;
    color: #263238;;
}

.product-crud-modal-button {
    font-weight: bold !important;
    font-size: 14px !important;
    letter-spacing: -0.015em;
    border-radius: 10px !important;
    width: 110px;
    height: 40px;
}