.pruduct-price-container {
    display: flex;

    span {
        margin-top: 4px;
        font-size: 18px;
        color: #9E9E9E;
    }

    h3 {
        font-size: 32px;
        color: #407BFF;
        margin-left: 10px;
    }
}